.img
{
	width: 15vw;
	height: 25vw;
	max-width: 200px;
	max-height: 325px;
	background-size: cover;
	background-position: center;
}
.price
{
	padding-top: 40%;
	display: block;
	overflow: hidden;
	margin-top: 100px;
	font-family: Arial;
	font-weight: bold;
	font-size: 0.9vw;
}
.desc
{
	font-size: 0.7vw;
	overflow: hidden;
	font-family: Monospace;
}
.desc_box
{
	z-index: 4;
	display: block;
	text-align: center;
	background: rgba(255, 255, 255, 0);
	width: 15vw;
	height: 25vw;
	max-width: 200px;
	max-height: 325px;
	opacity: 0;
	transition:
	opacity 0.3s,
	background 0.3s;
}
.desc_box:hover
{
	cursor: pointer;
	opacity: 1;
	background: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,0.8));
}
article
{
	float:left;
	margin-left: 2vw;
	margin-bottom: 1.4vw;
	width: 15vw;
	height: 29vw;
	max-width: 200px;
	max-height: 375px;
}
p
{
	position: relative;
	overflow: hidden;
	font-family: Monospace;
	font-size: 1vw;
	text-align: center;
	font-weight: bold;
}
section
{
	float: left;
	margin-top: 10vh;
	width: 70vw;
	margin-bottom: 15vh;
}
#contain_menu
{
	position: fixed;
	margin-top: 19vh;
	right: 5vw;
}
